
.b-catalog-elements-blocks {
	/*overflow: hidden;*/
	margin: 0 0 0 -15px;
	font-size: 0;
}
	.b-catalog-elements-blocks_item {
		/*width: 222px;*/
		display: inline-block;
		font-size: 14px;
		width: 200px;
		margin: 0 0 20px 15px;
		overflow: hidden;
		*display: inline;
	  	zoom: 1;
	  	vertical-align: top;
	}
		.b-catalog-elements-blocks_holder {
			overflow: hidden;
		}
			.b-catalog-elements-blocks_image {
 				display: block;
 				font-size: 0;
 				text-decoration: none !important;
 				outline: none;
 				position: relative;
 				height: 170px;
 				margin-bottom: 0.8em;
 				background-image: url('img/no-image_220x170.png');
 				background-position: center;
 				background-repeat: no-repeat;
 			}
 			.b-catalog-elements-blocks_text {
 				margin-bottom: 0.8em;
 				clear: both;
 			}
 				.b-catalog-elements-blocks_name {
 					margin-bottom: 0.8em;
 				}
 				.b-catalog-elements-blocks_order {
 					
 				}
					.b-catalog-elements-blocks_price {
						float: left;
						margin: 0 5px 5px 0;
						color: #000;
						font-weight: bold;
						font-size: 14px;
					}
					.b-catalog-elements-blocks_buy {

					}

	.g-clean {
		clear: both;
		font-size:0;
	  	overflow: hidden;
	}