<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Шаблон</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/global/global.css">
	<link rel="stylesheet" type="text/css" href="css/global/font.css">
	<link rel="stylesheet" type="text/css" href="css/layout/holster.css">
	<link rel="stylesheet" type="text/css" href="css/layout/blocks.css">
	<link rel="stylesheet" type="text/css" href="css/layout/content.css">
	<style type="text/css">
		.l-page-holder { background-color: #FFF; }
			.l-header { background-color: #CCFFFF; }
			.l-content { background-color: #ccccff; }
			.l-page-left { background-color: #ffccff; }
			.l-page-right { background-color: #ffcccc; }
		.l-footer { background-color: #ccffcc; }
	</style>
</head>

<body>

	<div class="l-page">
	
		<div class="l-page-holder">

			<div class="l-wrapper">
				<div class="l-header"> Шапка </div>
				<div class="l-page-content">
					<div class="l-content b-content"> 
						Контент 
					</div>
				</div>
				<div class="l-page-left"> Левая колонка </div>
				<div class="l-page-right"> Правая колонка </div>
				<div class="g-clean"></div>
			</div>
			
		</div>
		<div class="l-footer"> Колонтитул </div>
		
	</div>
	
</body>
</html>