.b-register-form {
    margin: 2.0em 0 0 0;
    font: normal 1.0em/1.2 Arial, sans-serif;
}
  
    .b-register-form_info {
        margin-bottom: 2.0em;
    }
    .b-register-form_item {
        margin: 0 0 15px 0;
        zoom: 1;
    }
    .b-register-form_item:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
        .b-register-form_item label {
            display: block;
            margin: 0 0 0.3em 0;
            text-align: left;
        }
            .b-register-form .required {
                color: red;
            }
    .b-register-form_field {
        position: relative;
    }
        .b-register-form_checkbox label, .b-register-form_radio label {
            display: inline;
            float: none;
            width: auto;
            margin: 0;
            text-align: left;
            font-size: 14px;
        }
        .b-register-form_text input, .b-register-form_date input {
            width: 350px;
            height: 27px;
            margin: 0;
            padding: 0 8px;
            background: #f1f1f1;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            font: normal 14px/1.2 Arial, sans-serif;
        }
        .b-register-form_date input {
            /*width: 170px;*/
        }
            .b-register-form_date .calendar-icon {
                position: absolute;
                top: 4px;
                left: 342px;
            }
        .b-register-form_item .textarea {
            width: 500px;
            height: 80px;
            margin: 0;
            padding: 6px 8px;
            background: #f1f1f1;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            font: normal 14px/1.2 Arial, sans-serif;
        }
        .b-register-form_dropdown select {
            width: 367px;
            margin-left: 1px;
            font: normal 16px/1.2 Arial, sans-serif;
        }
        

        .b-register-form_item-hint {
            display: block;
            clear: both;
            padding: 0.4em 0 0 0;
            color: #979797;
            font-size: 11px;
        }
        .b-register-form_item-error {
            display: block;
            clear: both;
            margin: 0;
            padding: 0.4em 0 0 0;
            color: #dd4b39;
            font-size: 11px; 
        }
        .b-register-form_error .b-register-form_text input, .b-register-form_error .b-register-form_date input, .b-register-form_error textarea {
            border-color: #dd4b39 !important;
        }

        .b-register-form_captcha {
            overflow: hidden;
        }
            .b-register-form_captcha img {
                float: left;
                margin: 0 5px 0 0 !important;
            }
            .b-register-form_captcha input {
                float: left;
                height: 38px;
                width: 150px;
                padding: 0 15px;
                margin: 0;
                background: #f1f1f1;
                border: 1px solid #d9d9d9;
                border-top: 1px solid #c0c0c0;
                font: normal 20px/1.2 Arial, sans-serif;
                text-transform: uppercase;
            }

        .b-color-captcha {
            float: left;
            margin: -5px 0 0 -5px; 
        }
            .b-color-captcha_item {
                float: left;
                padding: 8px;
            }
            .b-color-captcha_selected {
                padding: 5px;
                border: 3px solid red;
            }
                .b-color-captcha_item span {
                    display: block;
                    width: 25px;
                    height: 25px;
                    overflow: hidden;
                    text-indent: -5000px;
                }
        .b-color-captcha-text {
            position: relative;
            float: left;
            height: 24px;
            margin: 3px 0 0 15px;
            padding: 0 10px;
            line-height: 25px;
            background-color: #f2efda;
            background-color: #fff9c9;
            border: 1px solid #c7bf93;
        }
            .b-color-captcha-text_corner {
                position: absolute;
                margin-top: 7px;
                margin-left: -10px;
                top: 0;
                left: 0;
                width: 10px;
                height: 10px;
                overflow: hidden;
                background: url(img/tip-yellow_arrows.png) no-repeat -30px 0;
            }
            .b-color-captcha-text label {
                color: #000;
                font-size: 12px;
            }

    .b-register-form_eula-accepted {
        width: 400px;
        margin: 15px 0;
        color: #979797;
        font-size: 12px;
    }

    .b-register-form_submit {
        clear: both;
    }
        .b-register-form_submit input {
            font: normal 16px/1.2 Arial, sans-serif;
            cursor: pointer;
        }
    .b-register-form_required-sing {
        margin-top: 1.2em;
        margin-left: 310px;
        font-size: 11px;
    }