
.b-personal-account {
	position: relative;
}
	.b-personal-account_card {
		width: 416px;
		height: 269px;
		overflow: hidden;
		background: transparent url('img/card.png') 0 0 no-repeat;
	}
	.b-personal-account_info {
		position: absolute;
		top: 206px;
		left: 190px;
		font-size: 24px;
	}